  
  .sidebar-div {
    border-radius: 9999px;

    display: flex;
    flex-direction: column;
    align-items: start;
    
  
    background: linear-gradient(to right, #535a94 50%, #003049 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  
  .sidebar-div:hover {
    background-position: left bottom;
  }
